@import '../../../styles.scss';

h2 {
    width: max-content;
    text-align: center;
    padding: .5rem;
    color: white;
    border-radius: 10px;
    background-color: $primary-color;
    margin: auto;

}

.tabs-container {
    margin: 2rem 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1px 4px 2px 1px;
    width: 400px;

    div {
        border: 2px solid $primary-color;
        border-radius: 10px;
        padding: 2px;
    }

    @include respond-to(xsmall) {
        width: 100%;
        flex-direction: column;
    }

    @include respond-to(small) {
        width: 100%;
        flex-direction: column;
    }
}

.numbers-container {
    min-height: 30px;
    padding-right: 2em;
    padding-left: 2em;
    text-align: center;
    width: 170px;

    p{
        padding: 0;
        margin: .5em
    }

    @include respond-to(xsmall) {
        width: 60%;
        margin-top: 2rem;
    }

    @include respond-to(small) {
        width: 60%;
        margin-top: 2rem;
    }

    .number {
        font-weight: 700;
    }
}

.pie-container {
    width: 100%;
    margin-top: 2rem;
    display: flex;
    justify-content: center;


    @include respond-to(small) {

    }
    
}
