<h2>Medals per Country</h2>
<div class="tabs-container">
  <div class="numbers-container">
    <p>Number of JOs</p>
    <p *ngIf="!isLoading" class="number">{{ numberOfJos }}</p>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </div>
  <div class="numbers-container">
    <p>Number of countries</p>
    <p *ngIf="!isLoading" class="number">{{ countries }}</p>
    <app-loading-spinner *ngIf="isLoading"></app-loading-spinner>
  </div>
</div>
<div *ngIf="errorMessage === ''; else error" class="pie-container">
  <app-pie></app-pie>
  <app-bar></app-bar>
</div>
<ng-template #error>
  <div class="error-message">
    <p>Something went wrong. Please try again later.</p>
  </div>
</ng-template>

