@import "../../../styles.scss";

.container {
    display: flex;
    justify-content: center;
    max-width: 1140px;
    margin: auto;

    .chart-wrapper {
        width: 100%;
   
        @include respond-to(medium) {
            margin-top: 2rem;
            width: 65%;
    
        }
    }
}
.btn-wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 2rem;
    margin: auto;
    

    .rounded-button {
        background-color: $primary-color; /* Green background */
        color: white; /* White text */
        padding: 10px 20px; /* Top and Bottom padding 10px, Left and Right padding 20px */
        border: none; /* No border */
        cursor: pointer; /* Cursor changes to a pointer when hovered over */
        border-radius: 10px; /* Rounded corners */
        font-size: 16px; /* Text size */
        transition: background-color 0.3s ease;

    }

    .rounded-button:hover {
        background-color: #ddd;
        color: #000;
    }
}
