@import '../../../styles.scss';

main {
    padding-top: 10rem;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    @include respond-to(small) {
        padding-top: 5rem;
    }
}