@import "../../../styles.scss";

.pie-chart-container {
    position: relative;
    width: 100%;

    canvas {
        width: 350px;
        height: 350px;

        @include respond-to(small);
        @include respond-to(medium);
        @include respond-to(large) {
            width: 400px;
            height: 400px;
        }
    }

    ul {
        position: relative;
    }

    li {
        list-style: none;

        .country-btn {
            background-color: transparent;
            border: none;
            font-size: 1rem;
            cursor: pointer;
            z-index: 10;

            @include respond-to(xsmall) {
               font-size: 0.8rem;
            }
         
        }
    }

    .Germany {
        position: absolute;
        bottom: 94px;
        left: -12px;

        &:hover {
            color: #793d52;
        }
        @include respond-to(xsmall) {
            bottom: 71px;
            left: -5px;
        }

        @include respond-to(small) {
            left: -18px;
            bottom: 68px;
        }
        @include respond-to(medium) {
            bottom:  68px;
            left: -50px;
        }
    }

    .France {
        position: absolute;
        bottom: 161px;
        left: 26px;

        &:hover {
            color: #9680a1;
        }
        @include respond-to(xsmall) {
            bottom: 128px;
            left: 25px;
        }

        @include respond-to(small) {
            left: 15px;
            bottom: 125px;
        }
        @include respond-to(medium) {
            bottom:  126px;
            left: -18px;
        }
    }
    .Italy {
        position: absolute;
        right: 46px;
        bottom: 161px;
        &:hover {
            color: #945f65;
        }
        @include respond-to(xsmall) {
            bottom: 128px;
            right: 45px;
        }

        @include respond-to(small) {
            right: 40px;
            bottom: 125px;
        }
        @include respond-to(medium) {
            bottom:  126px;
            right: 5px;
        }
    }

    .Spain {
        position: absolute;
        right: 16px;
        bottom: 123px;
        &:hover {
            color: #b8cae6;
        }
        @include respond-to(xsmall) {
            bottom: 95px;
            right: 20px;
        }
        @include respond-to(small) {
            bottom: 90px;
            right: 10px;
        }
        @include respond-to(medium) {
            bottom: 93px;
            right: -25px;
        }
    }
    .US {
        position: absolute;
        right: -17px;
        bottom: 48px;
        &:hover {
            color: #89a1da;
        }

        @include respond-to(xsmall) {
            bottom: 37px;
            right: -5px;
        }

        @include respond-to(small) {
            bottom: 33px;
            right: -25px;
        }

        @include respond-to(medium) {
            bottom: 35px;
            right: -61px;
        }
    }
}
