@import '../../../styles.scss';



.pie-chart-container {
    position: relative;


    canvas {
        width: 400px;
        height: 400px;

        @include respond-to(xsmall) {
            width: 300px;
            height: 300px;
        }
    }

    ul {
        position: relative;
    }

    li {
        list-style: none;


        .country-btn {
            background-color: transparent;
            border: none;
            font-size: 14px;
            cursor: pointer;
            z-index: 10;

            @include respond-to(small) {
                font-size: 10px;
            }

        }
    }

    .Germany {
        position: absolute;
        bottom: 95px;
        left: -10px;

        &:hover {
            color: #793d52;
        }
        @include respond-to(xsmall) {
            bottom: 70px;
            left: -5px;
        }

        @include respond-to(small) {
            left: 0px;
            bottom: 98px;
        }
    }

    .France {
        position: absolute;
        bottom: 162px;
        left: 26px;

        &:hover {
            color: #9680a1;
        }
        @include respond-to(xsmall) {
            bottom: 125px;
            left: 25px;
        }

        @include respond-to(small) {
            left: 30px;
            bottom: 165px;
        }


    }
    .Italy {
        position: absolute;
        right: 46px;
        bottom: 163px;
        &:hover {
            color: #945f65;
        }
        @include respond-to(xsmall) {
            bottom: 125px;
            right: 45px;
        }

        @include respond-to(small) {
            right: 45px;
            bottom: 165px;
        }
    }

    .Spain {
        position: absolute;
        right: 16px;
        bottom: 123px;
        &:hover {
            color: #b8cae6;
        }
        @include respond-to(xsmall) {
            bottom: 93px;
            right: 20px;
        }
        @include respond-to(small) {
            bottom: 125px;
            right: 20px;
        }
    }
    .US {
        position: absolute;
        right: -8px;
        bottom: 50px;
        &:hover {
            color: #89a1da;
        }

        @include respond-to(xsmall) {
            bottom: 35px;
            right: -10px;
        }
    

        @include respond-to(small) {
            bottom: 50px;
            right: 7px;
        }
    }    
}